@font-face {
 font-family: 'Roboto-Regular';
 src: url('./assets/fonts/Roboto-Regular.ttf') format('truetype');
 font-weight: normal;
 font-style: normal;
}
@font-face {
 font-family: 'Roboto-Thin';
 src: url('./assets/fonts/Roboto-Thin.ttf') format('truetype');
 font-weight: normal;
 font-style: normal;
}
@font-face {
 font-family: 'Roboto-Medium';
 src: url('./assets/fonts/Roboto-Medium.ttf') format('truetype');
 font-weight: normal;
 font-style: normal;
}
@font-face {
 font-family: 'Roboto-Bold';
 src: url('./assets/fonts/Roboto-Bold.ttf') format('truetype');
 font-weight: normal;
 font-style: normal;
}
@font-face {
 font-family: 'Roboto-Light';
 src: url('./assets/fonts/Roboto-Light.ttf') format('truetype');
 font-weight: normal;
 font-style: normal;
}

body {
  font-family: 'Roboto-Regular' !important;
  font-size: 1rem;
  line-height: 1.5;
  color: #6D6D6D;
  background-color: #fff;
}


.license-form {
  .checklist {
    margin-bottom: 30px;
  }

  .zenefits-nav {
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    padding-top: 40px;

    h4 {
      padding-bottom: 10px;
    }

    border-right: 2px solid #eee;
    
    li {
      text-align: center;
      font-family: 'Roboto-Light' !important;
      font-size: 20px;
      line-height: 26px;
      width: 100%;
    }
    .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
      background-color: #EF8A20!important;
      color:#fff;
    }

    a {
      color: #444444;
      text-decoration: none;
    }
  }

  .rules-card {
    border: 0;
  }
}

.hand-cursor{
  cursor: pointer;
}

.custom-table th{
  padding-left: 35px;
  font-size: 15px;
  padding-top: 18px;
  padding-bottom: 18px;
}

.custom-table td{
  padding-left: 35px;
  font-size: 13px;
  padding-top: 25px;
  border:none!important;
}

.custom-table td a{
  color:#E88420;
}

.custom-table td a:hover, .custom-table td a:visited, .custom-table td a:active {
  color:#E88420;
}

.action-yes-btn{
  border: 2px solid transparent;
  padding: 4px 30px;
  background-color:#E88420;
  color:#fff;
  border-radius:2px;
  
}

.action-no-btn{
  border: 2px solid #ddd;
  padding: 4px 30px;
  background-color:#fff;
  color:#000;
  border-radius:2px;
  font-weight:bold;
}

.add-btn{
  border: 1px solid transparent;
  width: 25px;
  height: 25px;
  background-color: #E88420;
  color: #fff;
  border-radius: 15px;
  font-size: 15px;
  margin-top: -7px;
  margin-left: 25px;
  font-weight: bold;
}

.right-rule-box{
  padding-left:0;
}

.right-rule-top-box{
  padding-top: 35px;
  padding-bottom: 35px;
  border-bottom: 1px solid #e0e0e0;
}

.right-rule-box-main-heading{
  margin:0;
  font-size: 20px;
}

.right-rule-second-box{
  padding-left: 22px;
  padding-top: 30px;
  border-bottom: 1px solid #e0e0e0;
  margin-left: 13px;
}

.right-rule-second-box-heading{
  font-size: 20px;
  margin-bottom: 30px;
}  

.list-cell{
  padding-right: 50px;  
}

.padding-heading{
  padding-top:6px;
}

.submit-box{
  text-align: center;
}

.submit-btn{
  padding:6px 35px;
  border:1px solid #E88420;
  border-radius:8px;
  font-size:12px;
  background:#fff;
  font-weight:bold;
  margin-right: 6px;
}

.submit-btn:hover{
  padding:6px 35px;
  border:1px solid #E88420;
  border-radius:8px;
  font-size:12px;
  background:#E88420;
  font-weight:bold;
  margin-right: 6px;
}

.stats-main-heading{
  font-size: 24px;
  font-weight: 600;
  margin-bottom:2px;    
}

.stats-sub-heading{
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 25px;
}

.right-rule-third-box{
  padding-top:10px;
}

.stat-table td{
  font-size:13px;
  padding: 5px;
}

.stat-table tr td:first-child{
  font-weight: bold;
}

.stat-descr-box{
  font-size:10px;
  margin-bottom:10px;
}

.stat-descr-icon-green{
  height: 12px;
  width: 12px;
  background: #5DD054;
  float: left;
  margin-right: 8px;
  margin-left: 6px;
}

.stat-descr-icon-white{
  height: 12px;
  width: 12px;
  background: #fff;
  float: left;
  margin-right: 8px;
  margin-left: 6px;
}

.btn-checklist {
  width: 340px
}

.secondary-disabled {
  color: #373a3c;
  background-color: #e6e6e6;
  border-color: #adadad;
  cursor: not-allowed;
  opacity: 0.5;
  background: #adadad;
}

.secondary-disabled:hover {
  opacity: 0.5 !important;
  background: #adadad !important;
} 

.react-toggle {
  display: inline-block;
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  padding: 0;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

.react-toggle-screenreader-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.react-toggle--disabled {
  opacity: 0.5;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}

.react-toggle-track {
  width: 42px;
  height: 20px;
  padding: 0;
  border-radius: 30px;
  background-color: #DDDDDD;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
  box-shadow: 0px 0px 4px !important;
}

.react-toggle:hover .react-toggle-track {
  background-color: #DDDDDD;
}

.react-toggle--checked .react-toggle-track {
  background-color: #E88420;
}

.react-toggle.react-toggle--checked:hover .react-toggle-track {
  background-color: #E88420;
}

.react-toggle-track-check{
  display:none;
}

.react-toggle-track-x{
  display:none;
}

.react-toggle-thumb {
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  border: 1px solid #DDD;
  border-radius: 50%;
  background-color: #FAFAFA;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.react-toggle--checked .react-toggle-thumb {
  left: 22px;
  border-color: #E88420;
}

.header {
    background-image: url("./assets/img/compliance+_logo.svg");
    background-position: center;
    height: 110px;
    background-repeat: no-repeat;
    background-color: #F4F4F4;
    border-bottom: #EAEAEA 2px solid;
}

.inside-container{
  padding:60px; 
}

.container{
  margin-right: 1px !important;
  margin-left: 1px !important;
}

thead{
  color: #7C7C7C;
}

.license-form .row{
  padding:20px;
}

.zenefits-nav h4{
  font-size: 14px;
  letter-spacing: 0px;
  font-family: 'Roboto-Light';
  
}

.zenefits-nav h4 a{
  color:#67aeb2!important;
  font-weight: bold;
}

.zenefits-nav h4 a:hover {
  text-decoration: underline;
}

.zenefits-nav h1{
  color:#7C7C7C;
  font-size: 25px;
  font-weight: 400;
  margin-top:25px;
  line-height:1.2em;
  font-family: 'Roboto-Light';
}

.zenefits-nav p{
  margin-top: 15px;
  line-height: 1.4em;
  font-weight: 300;
  font-family: 'Roboto-Light';
  color:#919191;
  font-size: 14px;
}

.zenefits-nav a.link {
  color: #98CDD2 !important;
}

.zenefits-nav small a {
  margin-left: 5px;
}

.zenefits-nav a.link:hover {
  text-decoration: underline;
}

.inside-container h4{
  color: #7C7C7C;
  font-size: 20px;
  font-weight: 400;
  margin-top: -8px;
  line-height: 1.2em;
  font-family: 'Roboto-Light';
}

.inside-container p{
  margin-top: -10px;
  font-size: 14px;
  color: #919191;
}

.file-custom {
    padding: 0 50px;
    padding-top: 7px;
    background: #D8D8D8;
    border-radius: 4px;
    border: 2px solid #B8B8B8;
    font-family: Roboto-Medium;
    font-size: 14px;
    margin-top: -1px;
    margin-left: 20px;
    padding-bottom: 8px;
    position: absolute;
}

.file input {
  min-width: 23rem;
}    

.inside-container form{
  margin-bottom: 25px;
}

.inside-container table th, td{
  font-family: 'Roboto-Light';
  font-size: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.inside-container table td{
  color: #7C7C7C !important;
  border:none!important;
}

.inside-container table th{
  color: #919191;
  font-weight: bold;
}

.btn-white, .btn-orange{
  float:right;
  padding: 5px 55px;
  font-size: 14px;
  border-radius: 3px;
  font-family: Roboto-Medium;
  margin-top: 15px;
}

.btn-white{
  margin-right:8px;
  background: #fff!important;
  border:1px solid gainsboro;
  color:#5D5D5D;
}

.btn-warning,
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active {
  background: #EF8A20!important;
  color:#fff;
}

.btn-orange{
  margin-left:8px;
  background: #EF8A20!important;
  color:#fff;
}

.license-form .checklist {
  margin-top: 17px !important;
}

div.squaredThree {
  padding-left: 1.25em !important;
}

div.squaredThree label.checkbox-label{
  padding-left: 0px !important;
}

.checkbox label label {
  padding-left: 0px !important;
}

.getting-started h2 {
    font-size: 30px;
    font-weight: bold;
    margin-top: -8px;
    line-height: 1.2em;
    font-family: 'Roboto-Light';
}

.getting-started h5 {
    font-size: 19px;
    font-family: 'Roboto-light';
    margin-bottom: 1px;
}

.getting-started .checklist .checkbox {
  font-family: 'roboto-light' !important;
}

.getting-started .checklist input[type=checkbox]:checked + label{
  font-weight:inherit;
}

.getting-started .checklist input[type=checkbox] + label{
  font-weight:bold;
}

.getting-started .checklist .checkbox a {
  color: #5bc0de !important; 
}

.rules .inside-container button.btn-orange {
  margin-top: -36px !important;
}

.heading-table button.btn-orange {
  margin-top: -36px !important;
}

.rules-page .inside-container h4 {
    font-weight: 500;
}

table.custom-table {
  margin-top: 41px !important;
}

table.custom-table th {
  color: #7C7C7C;
  font-weight: bold;
}

 table.custom-table td a {
  color:#666 !important;
}

table.rule-set tr:nth-child(odd) { 
  background-color:#fff; 
}

table.rule-set tr:nth-child(even) { 
  background-color:#eee; 
}

table.custom-table td a {
  color:#666 !important;
}
table.custom-table td {
  font-size: 16px !important;
  padding-top: 20px !important;
}
.rules-page .inside-container .heading-table {
  font-size:21px !important;
  color: #d6d6c2;
}
.rules-page .inside-container .heading-table h4 {
    font-size: 17px;
    margin-bottom: -6px;
    font-weight: 400;
}
.rules-page .inside-container span.filtered-records{
    font-size: 20px;
    font-weight: 400;
    font-family: roboto-light;
}

.rules-page .inside-container .heading-table .react-toggle {
    margin-left: 133px;
}

.rules-page .inside-container select.select-filtered-records {
   width: auto !important;
   display: inline-block !important;
   margin-left: 154px !important;
   color: #888 !important;
}

.data-table .heading-table {
  margin-top: 40px !important;
  margin-bottom: 40px  !important;
}
.data-table .heading-table h5,.data-table h5 {
  font-weight: bold !important;
  font-size: 17px !important;
}
.heading-table {
  margin-top: 40px !important;
  margin-bottom: 40px  !important;
}

input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
	  margin: 4px 0 0;
    margin-top: 1px\9;
    line-height: normal;
}
.checkbox-container	input[type="checkbox"] {
    opacity: 0;
}
.checkbox-container .label-check {
    margin-left: 5px !important;
    position: relative;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
    padding: 0px 0px 0 10px;
}
.checkbox-container .label-check:before {
   font-family: FontAwesome;
    font-size: 24px;
    position: absolute;
    content: '';
    top: 0;
    left: -24px;
    background-color: white;
    border: 1px solid orange;
    border-radius: 0px;
    width: 19px;
    height: 19px;
    padding: 1px 0px;
}
.checkbox-container .label-check:after {
    	   
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    content: ''!important;
    position: absolute!important;
    width: 12px!important;
    height: 6px!important;
    background: transparent;
    top: 6px!important;
    left: -20px!important;
    border: 1px solid orange;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    padding-left: 3px !important;

}
.checkbox-container input[type="checkbox"]:checked + .label-check::after {
    margin-right: 90px;
    max-width: 19px;
    opacity: 1;
    width: 24px;
}

hr.divider {
  margin-top:50px !important;
}

hr.divider-grid {
  margin-top:37px !important;
}

input {
  border: solid 1px #ccc;
  border-radius: 2px;
  height:34px !important;
}

.rules-page {
  overflow-x:hidden !important;
}

.grid-input {
  width:60% !important;
  margin-top: 10px !important;
  height:34px !important;
  
}

#csvInput{
  display: inline;
  min-width: 36rem;
  border: 2px solid #ddd;
  border-radius: 4px;
  height: 40px!important;
  font-size:0px;
  padding-top: 19px;
  opacity:0;
}

.csvInput {
  min-width: 36rem;
  border: 2px solid #ddd;
  z-index: 11;
  height: 39px;
  border-radius: 4px;
  float: left;
  position: absolute;
  content: attr(data-file-name);
  padding: 8px !important;
  font-size: 14px !important;;
}

#csvInput input{
  display:none;

}
#csvInput input[type='file'] {
  color: transparent!important;
}
#csvInput input[type="button"]{
  display: none;
}
.file-custom::before {
  width: 330px;
  overflow: hidden;
  content: attr(data-file-name);
  display: inline-block;
  float: left;
  font-size: 14px;
  margin-left: -420px;
  margin-top: 0;
  position: absolute;
  z-index: 99999;
}
#csvInput::-webkit-file-upload-button {
  visibility: hidden;
}

/************* For welcome page ********************/
.welcome-main-row{
  padding:4em!important;
}
.welcome-main-heading{
  color:#F8F8F8;
  font-family: Roboto-Light;
  text-align:center;
  margin-top: 2.5em;
  font-size: 30px;
}
.welcome-main-heading2{
  color:#F8F8F8;
  font-family: Roboto-Light;
  text-align:center;
  font-size: 30px;
}
.welcome-para{
  color: #F8F8F8;
  font-family: Roboto-Thin;
  text-align: center;
  font-size: 15px;
  line-height: 1.6em;
  width: 46%;
  margin: 0 auto;
  margin-top: 1.7em;
}
.welcome-get-started-btn{
  color: #fff;
  font-family: Roboto-Medium;
  text-align: center;
  font-size: 14px;
  background: #EF8A20;
  border-radius: 3px;
  padding: 12px 48px;
  border: none !important;
  margin: 0 auto;
 }
 .welcom-btn-box{
   text-align: center;
   margin-top: 25px;
 }
.welcome-vid-container{
  margin-top:7em;
}
.welcome-vid-box{
   background: #A0A0A0;
   height:450px;
}
.vid-play-img {
  background-image: url("./assets/img/play-btn.svg");
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 150px;
  height: 150px;
}

.toast{
  background-color: #444; 
  font-size: 17px;
  color: #7C7C7C !important;
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 9999;
  -webkit-animation:animatetop 0.4s;
  animation:animatetop 0.4s
  }
  @-webkit-keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:.85}}
  @keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:.85}}


.toast a{
  float: right;
  text-decoration: underline;
  color: #7C7C7C;
  cursor: pointer;
}

.toast strong{
  margin-right: 9px;
  color: #EF8A20 !important;

}

.welcome {
  background: #4A4A4A url('./assets/img/bg_vectors.svg') no-repeat center center fixed !important;
}

.snippet {
  font-size: 20px;
  color: #EF8A20;
  font-weight: bolder;
}

.salesforce-link {
  text-align: center;
}

.salesforce-link-lines {
  @extend .salesforce-link;
  margin-top: 250px;
}

.salesforce-link-checklist {
  @extend .salesforce-link;
  margin-top: 160px;
}

.salesforce-link-rules {
  @extend .salesforce-link;
  margin-top: 250px;
}

.skip {
  cursor: pointer;
  margin-top: 5px;
  font-size: 15px;
}

.control-label{
  font-size: 17px;
  font-weight: 400;
}
.add-criteria{
  color: #e88420 !important;
  cursor: pointer !important;
}
.add-criteria .add-btn{
  margin-left: 0px !important;
}

.license-db-div {
  background: #F4F4F4;
  padding: 15px
}

.license-db-text {
  color: darkgray;
  margin: 0px
}

.ok-icon-color {
 color: #3d8b40
}

.font-color {
 color: gainsboro
}

.question-icon-size {
  font-size: 85% !important
}

.integrate-text{
  background-color: gainsboro;
  padding-top: 1px;
  padding-left: 17px;
}

.integrate-padding{
    padding-left: 17px !important;
}

.choose-button{
  color: white;
}

.disable-click{
  pointer-events: none;
}

.autocomplete-item{
    padding: 2px 6px;
    cursor: default;
    font-size: 14px;
}

.autocomplete-highlightedItem {
    color: white;
    background: hsl(200, 50%, 50%);
    padding: 2px 6px;
    cursor: default;
    font-size: 14px;
}

.validation-rule-field{
   z-index: 1;
}

.checklist-new {
    padding-left: 60px;
    padding-top: 60px;
}

.checklist-new .desc {
    font-size: 16px;
    width: 306px;
}

.checklist-new h4 {
    font-weight:bold;
}

.checklist-new .btn-warning {
    width: 200px;
}

.btn-side {
    background: #d6d6c2!important;
    border: #d6d6c2;
    color: white !important;
}

.btn-side:hover {
    background: #d6d6c2!important;
    border: #d6d6c2;
    color: white !important;
}

.check {
    background: #f5f5f0;
    padding: 5px;    
}

.check h4 {
    font-weight: bold;
    font-size: 16px;
}
.padding-bottom {
    padding-bottom: 20px;
}

button#addRuleSet {
    background: #eee!important;
    border: 1px solid #d6d6c2;
    color: #666 !important;
    width: 350px;
    text-align: left;
}

.dropdown ul.dropdown-menu {
    width: 350px;
}

.custom-table .react-toggle {
  float: right !important;
}

.btn .caret {
    float: right !important;
    margin-top: 7px !important;
}

.pull-right-custom {
  text-align: right;
}

.row-header {
  background-color: #F4F4F4;
  margin-bottom: 3px;
}

.row-header small {
    color: gainsboro;
    font-size: 13px;
}

.check-connection-button{
  color : white;
  background: #D8D8D8;
  margin-left: 20px
}

.url-textbox {
  font-size: 14px;
}

.next-button {
 width:125px;
}

.div-align {
  text-align: right;
}

input#autocomplete + div {
    position: static !important;
}
.btn-right{
  float: right;
}

.linkcolor {
  color:gainsboro !important;
 }
 
 .text-padding {
   padding-top: 5px;
   padding-left: 17px;
 }

 .sidebar-text {
   font-size: 17px;
   padding-top: 5px !important; 
   padding-left: 33px !important; 
   padding-right: 0px !important; 
   text-align: left;
 }

 .sidebar-color{
    background-color: gainsboro; 
 }

 .sidebar-menu {
  background-color: #F4F4F4;

 }

 .div-padding {
  padding-left: 3% !important; 
  padding-right: 3% !important; 
 }

 .link-font {
    font-size: 17px;
    padding-top: 5px; 
    padding-bottom: 5px; 
 }

 .icon-font {
    font-size: 15px;
    padding-right: 2px;
 }

 .sidebar-div {
   padding : 5px 0px 3px 0px;
 }

 .btn-return {
  background-color: gainsboro !important;
  border: #d6d6c2;
  color: white !important;
}

.btn-return:hover {
  background-color: gainsboro !important;
  border: #d6d6c2;
  color: white !important;
}

.checklist-margin {
  margin-top: 10px;
}

.btn-return-padding {
  float: left;
  padding-left: 26px;
  white-space: nowrap;
}

.div-margin {
  margin-top : 0px !important;
   padding : 3px 0px 3px 0px;
 }

 .font-big {
   font-size: 16px;
 }

.padding-zero {
  padding-left: 0px !important;
}

.zenefits-nav h4 a.disabled-true {
    pointer-events: none;
    cursor: default;
    color: #ddd!important;
}

.row-even {
  background-color: #F4F4F4
}

.row-odd {
  background-color: #ffffff
}
.heroku-success{
   color: green;
   font-size: 12px;
}
.div-float{
    float: left;
    width: 100%;
}
.complete-congratulation{
  font-size: 14px;
}
.donebtn-visibility {
    visibility: hidden
}

.heading-font{
  font-weight: bold;
  color:red;
}

.row-padding {
  padding-top: 5px !important;
  padding-bottom: 5px  !important;
  font-size: 17px  !important;
}

.heading-padding {
  padding-top:40px !important;
}

.div-font{
  font-size: 18px !important;
}

.padding {
  padding-top: 6px !important;
}

.row-margin {
  margin-left : 0px !important;
  margin-right : 0px !important;
}

.question-icon{
  font-size: 90% !important;
}

.sub-heading{
  font-size: 25px !important;
  padding-top: 32px;
}
.text-center{
  text-align: center;
}